@import "tailwindcss";

:root {
  --background: #f0e4d3;
  --foreground: #171717;
}
@theme {
  --color-cream-white: #f0e4d3;
  --color-primary: #faf7f3;
  --color-secondary: #dcc5b2;
  --color-tertiary: #d9a299;
  --color-light-gray: #222831;
}
