@import "tailwindcss";

:root {
  --background: #fffbde;
  --foreground: #171717;
}

@theme {
  --color-blue150: #4682a9;
  --color-blue100: #749bc2;
  --color-blue50: #91c8e4;
  --color-cream-white: #fffbde;
}
